* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333;
}

.container {
  height: 100px;
  width: 150px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.container input {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 999;
  cursor: pointer;
}
.item {
  background-color: white;
  height: 10px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
}

.container #toggle:checked ~ .item-2 {
  transform: scale(0);
}
.container #toggle:checked ~ .item-1 {
  transform: translateY(45px) rotate(405deg) scale(0.85);
}
.container #toggle:checked ~ .item-3 {
  transform: translateY(-45px) rotate(-405deg) scale(0.85);
}
